In [4]:
import sqlalchemy
import pandas as pd
import server.model.event as sme
import server.model.connection as smc
import server.view.dataframes as smd

In [20]:
sme.EventDal.set_current_event("week0", "2018")
rnk_df = smd.ranking_df(12)
rnk_df.head()

phase     auto                                                            \
actor    robot
task  autoLine
       matches sum_successes max_successes min_successes count_successes
team
1153       3.0           1.0           1.0           1.0             1.0
1721       NaN           NaN           NaN           NaN             NaN
1729       3.0           0.0           0.0           0.0             1.0
2342       3.0           1.0           1.0           1.0             1.0
238        NaN           NaN           NaN           NaN             NaN

phase                                                                      \
actor
task
      avg_successes sum_attempts max_attempts min_attempts count_attempts
team
1153            1.0          1.0          1.0          1.0            1.0
1721            NaN          NaN          NaN          NaN            NaN
1729            0.0          0.0          0.0          0.0            1.0
2342            1.0          1.0          1.0          1.0            1.0
238             NaN          NaN          NaN          NaN            NaN

phase        ...               teleop                                         \
actor        ...                robot
task         ...            stackCube
             ...        avg_successes sum_attempts max_attempts min_attempts
team         ...
1153         ...                  NaN          NaN          NaN          NaN
1721         ...                  NaN          NaN          NaN          NaN
1729         ...                  0.0          0.0          0.0          0.0
2342         ...                  NaN          NaN          NaN          NaN
238          ...                  NaN          NaN          NaN          NaN

phase                                                              \
actor
task
      count_attempts avg_attempts max_cycle_times min_cycle_times
team
1153             NaN          NaN             NaN             NaN
1721             NaN          NaN             NaN             NaN
1729             1.0          0.0             0.0             0.0
2342             NaN          NaN             NaN             NaN
238              NaN          NaN             NaN             NaN

phase
actor
task
      avg_cycle_times count_cycle_times
team
1153              NaN               NaN
1721              NaN               NaN
1729              0.0               1.0
2342              NaN               NaN
238               NaN               NaN

[5 rows x 345 columns]

In [22]:
rnk_df["teleop"]["robot"]["pickupFloor"]

,matches,sum_successes,max_successes,min_successes,count_successes,avg_successes,sum_attempts,max_attempts,min_attempts,count_attempts,avg_attempts,max_cycle_times,min_cycle_times,avg_cycle_times,count_cycle_times
team,,,,,,,,,,,,,,,
1153,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1721,3.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0
1729,3.0,4.0,4.0,4.0,1.0,4.0,4.0,4.0,4.0,1.0,4.0,0.0,0.0,0.0,1.0
2342,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
238,3.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0
319,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3236,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3467,3.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
4905,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4909,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
501,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5687,3.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0
5813,3.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0
6153,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
811,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
rnk_df["teleop"]["robot"].columns

MultiIndex(levels=[['autoLine', 'crossNull', 'disabled', 'driveMotors', 'getFoul', 'hasClimber', 'makeClimb', 'parkPlatform', 'pickupCube', 'pickupCubeZone', 'pickupExchange', 'pickupFloor', 'pickupPlatform', 'pickupPortal', 'placeExchange', 'placeIncorrect', 'placeOpponent', 'placeScale', 'placeSwitch', 'stackCube', 'supportClimb'], ['avg_attempts', 'avg_cycle_times', 'avg_successes', 'count_attempts', 'count_cycle_times', 'count_successes', 'matches', 'max_attempts', 'max_cycle_times', 'max_successes', 'min_attempts', 'min_cycle_times', 'min_successes', 'sum_attempts', 'sum_successes']],
           labels=[[9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19], [6, 14, 9, 12, 5, 2, 13, 7, 10, 3, 0, 8, 11, 1, 4, 6, 14, 9, 12, 5, 2, 13, 7, 10, 3, 0, 8, 11, 1, 4, 6, 14, 9, 12, 5, 2, 13, 7, 10, 3, 0, 8, 11, 1, 4, 6, 14, 9, 12, 5, 2, 13, 7, 10, 3, 0, 8, 11, 1, 4, 6, 14, 9, 12, 5, 2, 13, 7, 10, 3, 0, 8, 11, 1, 4, 6, 14, 9, 12, 5, 2, 13, 7, 10, 3, 0, 8, 11, 1, 4, 6, 14, 9, 12, 5, 2, 13, 7, 10, 3, 0, 8, 11, 1, 4, 6, 14, 9, 12, 5, 2, 13, 7, 10, 3, 0, 8, 11, 1, 4, 6, 14, 9, 12, 5, 2, 13, 7, 10, 3, 0, 8, 11, 1, 4, 6, 14, 9, 12, 5, 2, 13, 7, 10, 3, 0, 8, 11, 1, 4]],
           names=['task', None])

In [18]:
meas_df = smd.measure_summary_df(12)
meas_df.loc(axis=1)

                                 matches  sum_successes  max_successes  \
team phase  actor task
108  auto   robot placeScale          10             21              5
                  placeSwitch         10              1              1
                  startPosition       10              0              0
     teleop robot placeScale          10             17              3
                  placeSwitch         10             56             12

                                 min_successes  count_successes  \
team phase  actor task
108  auto   robot placeScale                 1               10
                  placeSwitch                0                4
                  startPosition              0               10
     teleop robot placeScale                 0               10
                  placeSwitch                1               10

                                 avg_successes  sum_attempts  max_attempts  \
team phase  actor task
108  auto   robot placeScale              2.10            44             7
                  placeSwitch             0.25             4             1
                  startPosition           0.00             0             0
     teleop robot placeScale              1.70            50             9
                  placeSwitch             5.60            75            14

                                 min_attempts  count_attempts  avg_attempts  \
team phase  actor task
108  auto   robot placeScale                2              10           4.4
                  placeSwitch               1               4           1.0
                  startPosition             0              10           0.0
     teleop robot placeScale                3              10           5.0
                  placeSwitch               1              10           7.5

                                 max_cycle_times  min_cycle_times  \
team phase  actor task
108  auto   robot placeScale                   0                0
                  placeSwitch                  0                0
                  startPosition                0                0
     teleop robot placeScale                   0                0
                  placeSwitch                  0                0

                                 avg_cycle_times  count_cycle_times
team phase  actor task
108  auto   robot placeScale                 0.0                 10
                  placeSwitch                0.0                  4
                  startPosition              0.0                 10
     teleop robot placeScale                 0.0                 10
                  placeSwitch                0.0                 10

In [19]:
meas_df.xs("placeScale", level="task")

                   matches  sum_successes  max_successes  min_successes  \
team phase  actor
108  auto   robot       10             21              5              1
     teleop robot       10             17              3              0
1165 auto   robot       10             18              5              0
     teleop robot       10             16              4              0
1287 auto   robot       10             12              2              0
     teleop robot       10             16              5              1
1296 auto   robot       10             13              3              0
     teleop robot       10             24              6              0
1318 auto   robot       10             18              4              1
     teleop robot       10             14              3              0
1323 auto   robot       10             17              4              0
     teleop robot       10              9              3              0
1523 auto   robot       10             17              4              0
     teleop robot       10             16              3              1
1540 auto   robot       10             12              3              0
     teleop robot       10             10              3              0
1595 auto   robot       10             21              5              0
     teleop robot       10             21              6              1
16   auto   robot       10             18              4              0
     teleop robot       10             16              4              0
1661 auto   robot       10             16              4              0
     teleop robot       10             13              3              0
1884 auto   robot       10             17              3              1
     teleop robot       10             16              3              0
1983 auto   robot       10             20              3              1
     teleop robot       10             10              2              0
2046 auto   robot       10             18              4              0
     teleop robot       10             13              3              0
2102 auto   robot       10             20              5              0
     teleop robot       10             20              3              1
...                    ...            ...            ...            ...
5802 auto   robot       10             18              5              0
     teleop robot       10             16              4              0
5829 auto   robot       10             15              3              0
     teleop robot       10             20              4              1
5889 auto   robot       10             18              4              0
     teleop robot       10             16              3              1
5908 auto   robot       10             13              3              0
     teleop robot       10             15              4              0
5960 auto   robot       10             16              3              0
     teleop robot       10             12              3              0
6038 auto   robot       10             16              4              0
     teleop robot       10             21              4              0
6225 auto   robot       10             14              3              0
     teleop robot       10             18              5              0
6384 auto   robot       10             21              4              1
     teleop robot       10             13              3              0
6390 auto   robot       10             12              3              0
     teleop robot       10             12              4              0
6413 auto   robot       10             16              4              0
     teleop robot       10             11              3              0
6417 auto   robot       10             19              4              0
     teleop robot       10             12              3              0
6431 auto   robot       10             16              3              0
     teleop robot       10             17              3              0
6554 auto   robot       10             19              5              0
     teleop robot       10             23              5              1
6640 auto   robot       10             16              4              0
     teleop robot       10             14              2              1
948  auto   robot       10             13              3              0
     teleop robot       10             15              3              0

                   count_successes  avg_successes  sum_attempts  max_attempts  \
team phase  actor
108  auto   robot               10            2.1            44             7
     teleop robot               10            1.7            50             9
1165 auto   robot               10            1.8            46             9
     teleop robot               10            1.6            43             8
1287 auto   robot               10            1.2            34             9
     teleop robot               10            1.6            48            11
1296 auto   robot               10            1.3            43             9
     teleop robot               10            2.4            48            10
1318 auto   robot               10            1.8            48            11
     teleop robot               10            1.4            39             6
1323 auto   robot               10            1.7            42             8
     teleop robot               10            0.9            39             8
1523 auto   robot               10            1.7            42             7
     teleop robot               10            1.6            45             7
1540 auto   robot               10            1.2            44             8
     teleop robot               10            1.0            29             5
1595 auto   robot               10            2.1            47             8
     teleop robot               10            2.1            50             9
16   auto   robot               10            1.8            44            10
     teleop robot               10            1.6            43            10
1661 auto   robot               10            1.6            40             9
     teleop robot               10            1.3            40             5
1884 auto   robot               10            1.7            42             6
     teleop robot               10            1.6            37             7
1983 auto   robot               10            2.0            40             6
     teleop robot               10            1.0            30             5
2046 auto   robot               10            1.8            41             8
     teleop robot               10            1.3            35             7
2102 auto   robot               10            2.0            46             8
     teleop robot               10            2.0            46             6
...                            ...            ...           ...           ...
5802 auto   robot               10            1.8            41             8
     teleop robot               10            1.6            51             7
5829 auto   robot               10            1.5            42             7
     teleop robot               10            2.0            53             8
5889 auto   robot               10            1.8            36             6
     teleop robot               10            1.6            44             7
5908 auto   robot               10            1.3            36             8
     teleop robot               10            1.5            46             8
5960 auto   robot               10            1.6            42             6
     teleop robot               10            1.2            33             8
6038 auto   robot               10            1.6            35             7
     teleop robot               10            2.1            42             6
6225 auto   robot               10            1.4            38             7
     teleop robot               10            1.8            43             9
6384 auto   robot               10            2.1            46             7
     teleop robot               10            1.3            35             7
6390 auto   robot               10            1.2            27             8
     teleop robot               10            1.2            35             7
6413 auto   robot               10            1.6            54             9
     teleop robot               10            1.1            38             9
6417 auto   robot               10            1.9            44             7
     teleop robot               10            1.2            30             6
6431 auto   robot               10            1.6            34             7
     teleop robot               10            1.7            39             6
6554 auto   robot               10            1.9            43             8
     teleop robot               10            2.3            46             7
6640 auto   robot               10            1.6            40            11
     teleop robot               10            1.4            40             5
948  auto   robot               10            1.3            34             5
     teleop robot               10            1.5            38             6

                   min_attempts  count_attempts  avg_attempts  \
team phase  actor
108  auto   robot             2              10           4.4
     teleop robot             3              10           5.0
1165 auto   robot             0              10           4.6
     teleop robot             1              10           4.3
1287 auto   robot             1              10           3.4
     teleop robot             2              10           4.8
1296 auto   robot             2              10           4.3
     teleop robot             1              10           4.8
1318 auto   robot             3              10           4.8
     teleop robot             2              10           3.9
1323 auto   robot             1              10           4.2
     teleop robot             0              10           3.9
1523 auto   robot             0              10           4.2
     teleop robot             2              10           4.5
1540 auto   robot             2              10           4.4
     teleop robot             1              10           2.9
1595 auto   robot             1              10           4.7
     teleop robot             3              10           5.0
16   auto   robot             0              10           4.4
     teleop robot             1              10           4.3
1661 auto   robot             2              10           4.0
     teleop robot             3              10           4.0
1884 auto   robot             2              10           4.2
     teleop robot             1              10           3.7
1983 auto   robot             2              10           4.0
     teleop robot             1              10           3.0
2046 auto   robot             1              10           4.1
     teleop robot             1              10           3.5
2102 auto   robot             3              10           4.6
     teleop robot             3              10           4.6
...                         ...             ...           ...
5802 auto   robot             0              10           4.1
     teleop robot             3              10           5.1
5829 auto   robot             2              10           4.2
     teleop robot             1              10           5.3
5889 auto   robot             0              10           3.6
     teleop robot             2              10           4.4
5908 auto   robot             1              10           3.6
     teleop robot             0              10           4.6
5960 auto   robot             2              10           4.2
     teleop robot             0              10           3.3
6038 auto   robot             1              10           3.5
     teleop robot             2              10           4.2
6225 auto   robot             1              10           3.8
     teleop robot             1              10           4.3
6384 auto   robot             3              10           4.6
     teleop robot             0              10           3.5
6390 auto   robot             0              10           2.7
     teleop robot             1              10           3.5
6413 auto   robot             2              10           5.4
     teleop robot             0              10           3.8
6417 auto   robot             3              10           4.4
     teleop robot             1              10           3.0
6431 auto   robot             1              10           3.4
     teleop robot             1              10           3.9
6554 auto   robot             1              10           4.3
     teleop robot             3              10           4.6
6640 auto   robot             1              10           4.0
     teleop robot             3              10           4.0
948  auto   robot             0              10           3.4
     teleop robot             1              10           3.8

                   max_cycle_times  min_cycle_times  avg_cycle_times  \
team phase  actor
108  auto   robot                0                0              0.0
     teleop robot                0                0              0.0
1165 auto   robot                0                0              0.0
     teleop robot                0                0              0.0
1287 auto   robot                0                0              0.0
     teleop robot                0                0              0.0
1296 auto   robot                0                0              0.0
     teleop robot                0                0              0.0
1318 auto   robot                0                0              0.0
     teleop robot                0                0              0.0
1323 auto   robot                0                0              0.0
     teleop robot                0                0              0.0
1523 auto   robot                0                0              0.0
     teleop robot                0                0              0.0
1540 auto   robot                0                0              0.0
     teleop robot                0                0              0.0
1595 auto   robot                0                0              0.0
     teleop robot                0                0              0.0
16   auto   robot                0                0              0.0
     teleop robot                0                0              0.0
1661 auto   robot                0                0              0.0
     teleop robot                0                0              0.0
1884 auto   robot                0                0              0.0
     teleop robot                0                0              0.0
1983 auto   robot                0                0              0.0
     teleop robot                0                0              0.0
2046 auto   robot                0                0              0.0
     teleop robot                0                0              0.0
2102 auto   robot                0                0              0.0
     teleop robot                0                0              0.0
...                            ...              ...              ...
5802 auto   robot                0                0              0.0
     teleop robot                0                0              0.0
5829 auto   robot                0                0              0.0
     teleop robot                0                0              0.0
5889 auto   robot                0                0              0.0
     teleop robot                0                0              0.0
5908 auto   robot                0                0              0.0
     teleop robot                0                0              0.0
5960 auto   robot                0                0              0.0
     teleop robot                0                0              0.0
6038 auto   robot                0                0              0.0
     teleop robot                0                0              0.0
6225 auto   robot                0                0              0.0
     teleop robot                0                0              0.0
6384 auto   robot                0                0              0.0
     teleop robot                0                0              0.0
6390 auto   robot                0                0              0.0
     teleop robot                0                0              0.0
6413 auto   robot                0                0              0.0
     teleop robot                0                0              0.0
6417 auto   robot                0                0              0.0
     teleop robot                0                0              0.0
6431 auto   robot                0                0              0.0
     teleop robot                0                0              0.0
6554 auto   robot                0                0              0.0
     teleop robot                0                0              0.0
6640 auto   robot                0                0              0.0
     teleop robot                0                0              0.0
948  auto   robot                0                0              0.0
     teleop robot                0                0              0.0

                   count_cycle_times
team phase  actor
108  auto   robot                 10
     teleop robot                 10
1165 auto   robot                 10
     teleop robot                 10
1287 auto   robot                 10
     teleop robot                 10
1296 auto   robot                 10
     teleop robot                 10
1318 auto   robot                 10
     teleop robot                 10
1323 auto   robot                 10
     teleop robot                 10
1523 auto   robot                 10
     teleop robot                 10
1540 auto   robot                 10
     teleop robot                 10
1595 auto   robot                 10
     teleop robot                 10
16   auto   robot                 10
     teleop robot                 10
1661 auto   robot                 10
     teleop robot                 10
1884 auto   robot                 10
     teleop robot                 10
1983 auto   robot                 10
     teleop robot                 10
2046 auto   robot                 10
     teleop robot                 10
2102 auto   robot                 10
     teleop robot                 10
...                              ...
5802 auto   robot                 10
     teleop robot                 10
5829 auto   robot                 10
     teleop robot                 10
5889 auto   robot                 10
     teleop robot                 10
5908 auto   robot                 10
     teleop robot                 10
5960 auto   robot                 10
     teleop robot                 10
6038 auto   robot                 10
     teleop robot                 10
6225 auto   robot                 10
     teleop robot                 10
6384 auto   robot                 10
     teleop robot                 10
6390 auto   robot                 10
     teleop robot                 10
6413 auto   robot                 10
     teleop robot                 10
6417 auto   robot                 10
     teleop robot                 10
6431 auto   robot                 10
     teleop robot                 10
6554 auto   robot                 10
     teleop robot                 10
6640 auto   robot                 10
     teleop robot                 10
948  auto   robot                 10
     teleop robot                 10

[134 rows x 15 columns]

In [9]:
smd.match_num_df()

    team  matches
0    108       10
1   1165       10
2   1287       10
3   1296       10
4   1318       10
5   1323       10
6   1523       10
7   1540       10
8   1595       10
9     16       10
10  1661       10
11  1884       10
12  1983       10
13  2046       10
14  2102       10
15  2147       10
16  2158       10
17  2221       10
18  2352       10
19  2473       10
20  2723       10
21  2761       10
22   283       10
23  2907       10
24  2990       10
25  3006       11
26  3019       10
27  3103       10
28  3219       10
29  3245       10
..   ...      ...
37  4061       10
38  4135       10
39  4206       10
40  4270       10
41  4451       10
42  4468       10
43  4586       10
44  4587       10
45  4610       10
46  4738       10
47  5104       10
48  5124       10
49  5417       10
50  5648       10
51  5677       10
52  5802       10
53  5829       10
54  5889       10
55  5908       10
56  5960       10
57  6038       10
58  6225       10
59  6384       10
60  6390       10
61  6413       10
62  6417       10
63  6431       10
64  6554       10
65  6640       10
66   948       10

[67 rows x 2 columns]