## Notebook Setup

### Imports
* **Run this cell immediately after opening the notebook by placing the cursor in the cell and hitting `SHIFT + ENTER`.**
* Otherwise, leave this cell alone

In [4]:
# Imports for telling Python where to find IRScout Python modules
import sys
import os
import re
sys.path.append('..')
    
# Set Current working directory to irsScouting2017\\Server
ptn = re.compile("jupyter$")
if ptn.search(os.getcwd()) is not None:
    os.chdir("..")
os.getcwd()

# IRScout Python Modules
import Server.scouting.output as out
from Server.scouting.event import EventDal

# Use the Bokeh plotting package
import holoviews as hv

# Other useful modules
import pandas as pd
import sqlalchemy as sa

# Get a database connection
connection_string = ('postgresql://irs1318:irs1318'
                     '@localhost:5432/scouting')
engine = sa.create_engine(connection_string)
conn = engine.connect()

In [5]:
os.getcwd()

'C:\\Users\\stacy\\OneDrive\\Projects\\scouting\\scouting2017\\irsScouting2017\\Server'

### Set Defaults
### Set Event
* **Next, set `current_event` to the applicable FIRST API event code and run this cell.**

In [6]:
# Set Chart Size
# bc.defaults.height = 300
# bc.defaults.width = 1200

# Set Current Event
current_event = "turing"
EventDal.set_current_event(current_event)
EventDal.get_current_event()

'turing'

### Export Excel Ranking File
* Run this cell to export the rankings spreadsheet.

In [7]:
fpath = out.get_Path("Report")
out.get_report(fpath)

### Get a Dataframe Containing all Measures

In [8]:
# Get Measures Dataframe
sql_measures = sa.text(
    "SELECT events.name AS event, matches.name AS match, levels.name AS level, dates.name AS date, "
    "teams.name AS team, alliances.name AS alliance, "
    "stations.name AS station, phases.name AS phase, actors.name AS actor, tasks.name AS task, "
    "measures.capability AS capability, measures.successes as successes, measures.attempts AS attempts, "
    "measures.cycle_times as cycle_times, measuretypes.name AS measuretype, reasons.name AS reason, "
    "attempts.name AS attempt "
    "FROM ((((((((((((measures FULL OUTER JOIN teams ON measures.team_id=teams.id) "
    "LEFT JOIN events ON measures.event_id=events.id) "
    "LEFT JOIN matches ON measures.match_id=matches.id) "
    "LEFT JOIN levels ON measures.level_id=levels.id) "
    "LEFT JOIN dates ON measures.date_id=dates.id) "
    "LEFT JOIN alliances ON measures.alliance_id=alliances.id) "
    "LEFT JOIN stations ON measures.station_id=stations.id) "
    "LEFT JOIN phases ON measures.phase_id=phases.id) "
    "LEFT JOIN actors ON measures.actor_id=actors.id) "
    "LEFT JOIN tasks ON measures.task_id=tasks.id) "
    "LEFT JOIN reasons ON measures.reason_id=reasons.id) "
    "LEFT JOIN measuretypes ON measures.measuretype_id=measuretypes.id) "
    "LEFT JOIN attempts ON measures.attempt_id=attempts.id "
    "WHERE events.name='" + current_event + "';")
measures = pd.read_sql(sql_measures, conn)
measures.query("task == 'shootHighBoiler'").query("phase == 'auto' or phase == 'teleop'")
#measures.query("task == 'climbRope' and phase == 'finish'")"

,event,match,level,date,team,alliance,station,phase,actor,task,capability,successes,attempts,cycle_times,measuretype,reason,attempt
9,turing,002-q,qual,2017-04-20T08:38:00,2990,blue,3,auto,robot,shootHighBoiler,0,0,0,0,count,na,summary
84,turing,005-q,qual,2017-04-20T09:02:00,1165,red,3,auto,robot,shootHighBoiler,0,1,1,0,count,na,summary
128,turing,004-q,qual,2017-04-20T08:54:00,108,blue,2,teleop,robot,shootHighBoiler,0,1,10,0,count,na,summary
217,turing,006-q,qual,2017-04-20T09:10:00,1595,blue,2,auto,robot,shootHighBoiler,0,1,1,0,count,na,summary
295,turing,008-q,qual,2017-04-20T09:26:00,3937,blue,1,teleop,robot,shootHighBoiler,0,0,4,0,count,na,summary
368,turing,009-q,qual,2017-04-20T09:34:00,2907,blue,3,auto,robot,shootHighBoiler,0,0,1,0,count,na,summary
382,turing,010-q,qual,2017-04-20T09:42:00,283,blue,3,auto,robot,shootHighBoiler,0,10,10,0,count,na,summary
399,turing,012-q,qual,2017-04-20T09:58:00,1595,red,3,auto,robot,shootHighBoiler,0,1,9,0,count,na,summary
413,turing,012-q,qual,2017-04-20T09:58:00,2102,red,2,auto,robot,shootHighBoiler,0,14,14,0,count,na,summary
448,turing,012-q,qual,2017-04-20T09:58:00,4586,blue,3,teleop,robot,shootHighBoiler,0,22,22,0,count,na,summary
462,turing,012-q,qual,2017-04-20T09:58:00,2352,blue,2,auto,robot,shootHighBoiler,0,7,10,0,count,na,summary
463,turing,012-q,qual,2017-04-20T09:58:00,1595,red,3,teleop,robot,shootHighBoiler,0,17,26,0,count,na,summary
486,turing,012-q,qual,2017-04-20T09:58:00,2352,blue,2,teleop,robot,shootHighBoiler,0,16,36,0,count,na,summary
487,turing,013-q,qual,2017-04-20T10:06:00,2761,blue,1,auto,robot,shootHighBoiler,0,0,2,0,count,na,summary
496,turing,013-q,qual,2017-04-20T10:06:00,1983,blue,2,auto,robot,shootHighBoiler,0,0,10,0,count,na,summary
529,turing,014-q,qual,2017-04-20T10:14:00,1884,red,3,teleop,robot,shootHighBoiler,0,1,1,0,count,na,summary
559,turing,016-q,qual,2017-04-20T10:30:00,5104,blue,1,auto,robot,shootHighBoiler,0,0,0,0,count,na,summary
566,turing,016-q,qual,2017-04-20T10:30:00,4587,blue,3,auto,robot,shootHighBoiler,0,1,1,0,count,na,summary
567,turing,016-q,qual,2017-04-20T10:30:00,3219,blue,2,auto,robot,shootHighBoiler,0,0,8,0,count,na,summary
568,turing,016-q,qual,2017-04-20T10:30:00,3219,blue,2,teleop,robot,shootHighBoiler,0,1,1,0,count,na,summary
620,turing,014-q,qual,2017-04-20T10:14:00,2046,blue,2,auto,robot,shootHighBoiler,0,4,10,0,count,na,summary
623,turing,014-q,qual,2017-04-20T10:14:00,2046,blue,2,teleop,robot,shootHighBoiler,0,85,96,0,count,na,summary
640,turing,016-q,qual,2017-04-20T10:30:00,1296,red,2,auto,robot,shootHighBoiler,0,0,0,0,count,na,summary
673,turing,014-q,qual,2017-04-20T10:14:00,16,blue,1,auto,robot,shootHighBoiler,0,11,21,0,count,na,summary
774,turing,018-q,qual,2017-04-20T10:46:00,3937,red,3,auto,robot,shootHighBoiler,0,0,10,0,count,na,summary
843,turing,020-q,qual,2017-04-20T11:02:00,1323,blue,2,teleop,robot,shootHighBoiler,0,35,35,0,count,na,summary
891,turing,020-q,qual,2017-04-20T11:02:00,1323,blue,2,auto,robot,shootHighBoiler,0,24,24,0,count,na,summary
916,turing,021-q,qual,2017-04-20T11:10:00,2990,red,3,auto,robot,shootHighBoiler,0,1,6,0,count,na,summary
959,turing,021-q,qual,2017-04-20T11:10:00,2990,red,3,teleop,robot,shootHighBoiler,0,14,19,0,count,na,summary
1058,turing,025-q,qual,2017-04-20T11:42:00,4586,blue,2,auto,robot,shootHighBoiler,0,3,9,0,count,na,summary
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4630,turing,097-q,qual,2017-04-21T16:20:00,2046,red,1,teleop,robot,shootHighBoiler,0,81,94,0,count,na,summary
4646,turing,094-q,qual,2017-04-21T15:56:00,1540,red,3,auto,robot,shootHighBoiler,0,0,10,0,count,na,summary
4661,turing,094-q,qual,2017-04-21T15:56:00,4586,red,2,teleop,robot,shootHighBoiler,0,7,12,0,count,na,summary
4694,turing,098-q,qual,2017-04-21T16:28:00,1595,red,3,auto,robot,shootHighBoiler,0,3,10,0,count,na,summary
4724,turing,096-q,qual,2017-04-21T16:12:00,283,red,3,auto,robot,shootHighBoiler,0,2,9,0,count,na,summary
4740,turing,097-q,qual,2017-04-21T16:20:00,2046,red,1,auto,robot,shootHighBoiler,0,7,10,0,count,na,summary
4761,turing,096-q,qual,2017-04-21T16:12:00,2102,blue,1,teleop,robot,shootHighBoiler,0,2,4,0,count,na,summary
4778,turing,098-q,qual,2017-04-21T16:28:00,3937,blue,2,teleop,robot,shootHighBoiler,0,5,5,0,count,na,summary
4783,turing,100-q,qual,2017-04-21T16:44:00,1318,red,3,auto,robot,shootHighBoiler,0,8,10,0,count,na,summary
4799,turing,097-q,qual,2017-04-21T16:20:00,3476,red,3,auto,robot,shootHighBoiler,0,0,10,0,count,na,summary
4864,turing,103-q,qual,2017-04-21T17:08:00,4587,blue,1,auto,robot,shootHighBoiler,0,14,20,0,count,na,summary
4891,turing,103-q,qual,2017-04-21T17:08:00,2990,red,3,auto,robot,shootHighBoiler,0,5,7,0,count,na,summary
4912,turing,103-q,qual,2017-04-21T17:08:00,2990,red,3,teleop,robot,shootHighBoiler,0,4,10,0,count,na,summary
4946,turing,103-q,qual,2017-04-21T17:08:00,2046,red,1,teleop,robot,shootHighBoiler,0,18,30,0,count,na,summary
5013,turing,107-q,qual,2017-04-21T17:40:00,3937,red,3,teleop,robot,shootHighBoiler,0,28,42,0,count,na,summary
5117,turing,105-q,qual,2017-04-21T17:24:00,2352,blue,3,auto,robot,shootHighBoiler,0,15,25,0,count,na,summary
5125,turing,102-q,qual,2017-04-21T17:00:00,3019,blue,1,auto,robot,shootHighBoiler,0,1,4,0,count,na,summary
5137,turing,102-q,qual,2017-04-21T17:00:00,2761,red,3,auto,robot,shootHighBoiler,0,0,5,0,count,na,summary
5156,turing,107-q,qual,2017-04-21T17:40:00,3476,blue,1,teleop,robot,shootHighBoiler,0,6,9,0,count,na,summary
5197,turing,102-q,qual,2017-04-21T17:00:00,3019,blue,1,teleop,robot,shootHighBoiler,0,2,2,0,count,na,summary
5204,turing,104-q,qual,2017-04-21T17:16:00,4586,blue,3,auto,robot,shootHighBoiler,0,3,10,0,count,na,summary
5208,turing,103-q,qual,2017-04-21T17:08:00,2046,red,1,auto,robot,shootHighBoiler,0,7,10,0,count,na,summary
5234,turing,107-q,qual,2017-04-21T17:40:00,3937,red,3,auto,robot,shootHighBoiler,0,2,10,0,count,na,summary
5344,turing,109-q,qual,2017-04-21T17:56:00,6384,red,3,auto,robot,shootHighBoiler,0,0,10,0,count,na,summary
5367,turing,110-q,qual,2017-04-21T18:04:00,3219,blue,1,auto,robot,shootHighBoiler,0,0,3,0,count,na,summary
5407,turing,109-q,qual,2017-04-21T17:56:00,1323,blue,3,teleop,robot,shootHighBoiler,0,26,36,0,count,na,summary
5414,turing,112-q,qual,2017-04-21T18:20:00,2102,red,2,auto,robot,shootHighBoiler,0,3,3,0,count,na,summary
5424,turing,111-q,qual,2017-04-21T18:12:00,16,blue,1,auto,robot,shootHighBoiler,0,13,23,0,count,na,summary
5426,turing,111-q,qual,2017-04-21T18:12:00,16,blue,1,teleop,robot,shootHighBoiler,0,79,89,0,count,na,summary
5433,turing,109-q,qual,2017-04-21T17:56:00,1323,blue,3,auto,robot,shootHighBoiler,0,23,36,0,count,na,summary

### Get Number of Completed Matches"

In [9]:
# Set recent_matches to n to filter out all but the last n matches.
recent_matches= 12

select_recent_matches = sa.text(
    "with current AS (SELECT s.event, s.match, date from schedules sched, "
    "status s WHERE sched.event = s.event "
    "AND sched.match = s.match limit 1 ) "


    "SELECT * FROM ( "
    "SELECT row_number() over (partition by team order by sched.date desc) as r, "
    " sched.* from schedules sched, current c WHERE sched.event = c.event and sched.date <= c.date )"
    " row_schedule WHERE row_schedule.r <= " + str(
        recent_matches) + " ORDER by team, date desc")
df = pd.read_sql(select_recent_matches, conn)
num_matches = df[['team', 'level']].groupby('team').count()
num_matches.columns = ['matches']

### Create and Save Gears Chart
* This cell creates the gears chart and saves it to Server/web/data as a static, interactive html file.

**TODO:** Add an event code and timestamp to gears chart file name.

In [10]:
# Create summary data frame for placing gears
gears_df = measures.query("task == 'placeGear'").query("phase == 'auto' or phase == 'teleop'").groupby('team').sum()
gears_df['average'] = gears_df['successes'] / num_matches['matches']
gears_df = gears_df.sort_values('average', ascending = False)

gears_df

# Create gears chart in Bokeh
# gears_chart = bc.Bar(gears_df, values = 'average', label = bca.cat(sort = False), legend = None, color = 'purple',
#                      title = 'Average Gears Placed per Match', ylabel = "Gears Placed")
# bc.output_file('web/data/gears_chart.html', mode = 'inline')
# gears_df = measures.query("task == 'climbRope'").query("phase == 'finish'").groupby('team').sum()
# gears_df = gears_df.sort_values('successes', ascending = False)

# # Create gears chart in Bokeh
# gears_chart = bc.Bar(gears_df, values = 'successes', label = bca.cat(sort = False), legend = None, color = 'purple',
#                     title = 'Total Gears Placed', ylabel = "Gears Placed")
# bc.output_file('web/data/gears_chart.html')
# bc.show(gears_chart)

      capability  successes  attempts  cycle_times   average
team
1296           0         47        50            0  4.700000
4206           0         47        54            0  4.700000
3737           0         44        46            0  4.400000
399            0         46        50            0  4.181818
3245           0         41        46            0  4.100000
3997           0         41        50            0  4.100000
4451           0         41        45            0  4.100000
4587           0         38        42            0  3.800000
5802           0         36        42            0  3.600000
5829           0         36        46            0  3.600000
5104           0         35        40            0  3.500000
5960           0         35        37            0  3.500000
1523           0         35        43            0  3.500000
6554           0         35        40            0  3.500000
4061           0         35        42            0  3.500000
1318           0         35        37            0  3.500000
948            0         35        37            0  3.500000
4468           0         34        36            0  3.400000
6640           0         34        39            0  3.400000
108            0         33        40            0  3.300000
2147           0         33        40            0  3.300000
2221           0         33        42            0  3.300000
2473           0         32        33            0  3.200000
4738           0         32        33            0  3.200000
1983           0         32        36            0  3.200000
3937           0         31        40            0  3.100000
5417           0         31        32            0  3.100000
1540           0         31        37            0  3.100000
2907           0         31        32            0  3.100000
3103           0         30        35            0  3.000000
...          ...        ...       ...          ...       ...
2761           0         28        31            0  2.800000
6384           0         27        34            0  2.700000
1165           0         27        36            0  2.700000
5677           0         27        37            0  2.700000
2158           0         26        34            0  2.600000
5908           0         26        27            0  2.600000
1661           0         26        26            0  2.600000
6417           0         26        31            0  2.600000
6413           0         25        29            0  2.500000
4586           0         25        31            0  2.500000
1884           0         25        33            0  2.500000
3006           0         27        30            0  2.454545
3476           0         24        27            0  2.400000
5124           0         23        30            0  2.300000
2102           0         23        26            0  2.300000
2046           0         21        23            0  2.100000
6225           0         21        23            0  2.100000
5889           0         21        27            0  2.100000
1323           0         21        24            0  2.100000
3337           0         20        22            0  2.000000
6431           0         19        21            0  1.900000
2723           0         19        22            0  1.900000
3794           0         17        24            0  1.700000
4135           0         16        21            0  1.600000
1287           0         16        19            0  1.600000
6038           0         15        24            0  1.500000
5648           0         15        16            0  1.500000
16             0         13        13            0  1.300000
4610           0         12        16            0  1.200000
3019           0          6        11            0  0.600000

[67 rows x 5 columns]

In [11]:
# Create summary data frame for climbing rope
climbs_df = measures.query("task == 'climbRope'").query("phase == 'finish'").groupby('team').count()
climbs_df['average'] = climbs_df['successes'] / num_matches['matches']
climbs_df = climbs_df.sort_values('average', ascending = False)

# Create gears chart in Bokeh
climb_chart = bc.Bar(climbs_df, values = 'average', label = bca.cat(sort = False), legend = None, color = 'DarkGoldenRod',
                   title = 'Total Times Climbed', ylabel = "Times Climbed")
bc.output_file('web/data/climb_chart.html', mode = 'inline')
bc.show(climb_chart)

NameError: name 'bc' is not defined