In [1]:
import json

import IPython.display
import ipywidgets as widgets
import pandas
import sqlalchemy

import server.model.connection as sm_connection
import server.model.event as sm_event
import server.model.firstapi as sm_firstapi
import server.season.s2019 as s2019
import server.view.excel as sv_excel
import server.view.dataframes as sv_dataframes

In [2]:
def get_measures(match="001-q", phase='auto'):
    conn = sm_connection.engine.connect()
    event_id = sm_event.EventDal.get_current_event()[0]
    sql = sqlalchemy.text("SELECT events.name, matches.name AS match, alliances.name AS alliance, "
                          "stations.name AS station, teams.name AS team, phases.name AS phase, "
                          "tasks.name AS task, measures.attempts, measures.successes, "
                          "measures.cycle_times, measures.capability, task_options.option_name "
                          "FROM measures "
                          "INNER JOIN tasks ON measures.task_id = tasks.id "
                          "INNER JOIN teams ON measures.team_id = teams.id "
                          "INNER JOIN matches ON measures.match_id = matches.id "
                          "INNER JOIN phases ON measures.phase_id = phases.id "
                          "INNER JOIN alliances ON measures.alliance_id = alliances.id "
                          "INNER JOIN stations ON measures.station_id = stations.id "
                          "INNER JOIN events ON measures.event_id = events.id "
                          "LEFT JOIN task_options ON measures.capability = task_options.id "
                          "WHERE event_id = :evt_id AND matches.name = :mtch AND phases.name = :phase "
                          "ORDER BY alliances.name, stations.name, phases.name, tasks.name"
                          ";").bindparams(evt_id=event_id, mtch=match, phase=phase)
    measures_df = pandas.read_sql(sql, conn)
    conn.close()
    return measures_df


def run_cell(cell):
    jscript_cmd = "Jupyter.notebook.execute_cells([" + str(cell) + "])"
    IPython.display.display_javascript(IPython.display.Javascript(jscript_cmd))

    
match = "001-q"
df = None
match_txt = widgets.Text(description="Match", value=match)
match_button = widgets.Button(description="Show Measures")
IPython.display.display(widgets.HBox([match_txt, match_button]))

phase = 'auto'
phase_box = widgets.Dropdown(options=['auto','teleop','finish'],value=phase,description='Phase:',disabled=False,)
phase_button = widgets.Button(description="Set Phase")
IPython.display.display(widgets.HBox([phase_box, phase_button]))


def show_measures(b):
    # IPython.display.clear_output()
    measures_output_cell = 3
    global match
    match = match_txt.value
    global phase 
    phase = phase_box.value
    global df
    df = get_measures(match, phase)
    run_cell(measures_output_cell)
    
def set_phase(b):
    phase = phase_box.value

match_button.on_click(show_measures)
phase_button.on_click(set_phase)

A Jupyter Widget

A Jupyter Widget

In [7]:
df

,name,match,alliance,station,team,phase,task,attempts,successes,cycle_times,capability,option_name
0,test_data,021-q,blue,1,492,teleop,csCargo,2,2,0,0,None
1,test_data,021-q,blue,1,492,teleop,csHatch,2,2,0,0,None
2,test_data,021-q,blue,1,492,teleop,duration,3,1,0,0,None
3,test_data,021-q,blue,1,492,teleop,getFoul,1,1,0,0,None
4,test_data,021-q,blue,1,492,teleop,groundCargoPickup,2,2,0,0,None
5,test_data,021-q,blue,1,492,teleop,groundHatchPickup,3,3,0,0,None
6,test_data,021-q,blue,1,492,teleop,pickupLoadingCargo,5,5,0,0,None
7,test_data,021-q,blue,1,492,teleop,pickupLoadingHatch,3,3,0,0,None
8,test_data,021-q,blue,1,492,teleop,rocketCargo1,3,3,0,0,None
9,test_data,021-q,blue,1,492,teleop,rocketHatch2,2,2,0,0,None
10,test_data,021-q,blue,3,2907,teleop,csCargo,1,1,0,0,None
11,test_data,021-q,blue,3,2907,teleop,csHatch,2,2,0,0,None
12,test_data,021-q,blue,3,2907,teleop,dropCargo,2,2,0,0,None
13,test_data,021-q,blue,3,2907,teleop,dropHatch,1,1,0,0,None
14,test_data,021-q,blue,3,2907,teleop,duration,3,1,0,0,None
15,test_data,021-q,blue,3,2907,teleop,pickupLoadingCargo,3,3,0,0,None
16,test_data,021-q,blue,3,2907,teleop,pickupLoadingHatch,3,3,0,0,None
17,test_data,021-q,blue,3,2907,teleop,rocketCargo1,1,1,0,0,None
18,test_data,021-q,blue,3,2907,teleop,rocketHatch1,1,1,0,0,None
19,test_data,021-q,blue,3,2907,teleop,rocketHatch2,1,1,0,0,None
20,test_data,021-q,blue,3,2907,teleop,rocketHatch3,5,5,0,0,None
21,test_data,021-q,red,1,3393,teleop,csCargo,4,4,0,0,None
22,test_data,021-q,red,1,3393,teleop,csHatch,5,5,0,0,None
23,test_data,021-q,red,1,3393,teleop,duration,3,1,0,0,None
24,test_data,021-q,red,1,3393,teleop,getFoul,1,1,0,0,None
25,test_data,021-q,red,1,3393,teleop,pickupLoadingCargo,3,3,0,0,None
26,test_data,021-q,red,1,3393,teleop,pickupLoadingHatch,5,5,0,0,None
27,test_data,021-q,red,1,3393,teleop,rocketCargo1,2,2,0,0,None
28,test_data,021-q,red,1,3393,teleop,rocketCargo2,1,1,0,0,None
29,test_data,021-q,red,1,3393,teleop,rocketCargo3,1,1,0,0,None
30,test_data,021-q,red,1,3393,teleop,rocketHatch1,2,2,0,0,None
31,test_data,021-q,red,1,3393,teleop,rocketHatch2,1,1,0,0,None
32,test_data,021-q,red,1,3393,teleop,rocketHatch3,1,1,0,0,None
33,test_data,021-q,red,2,2926,teleop,csCargo,4,4,0,0,None
34,test_data,021-q,red,2,2926,teleop,csHatch,2,2,0,0,None
35,test_data,021-q,red,2,2926,teleop,dropCargo,2,2,0,0,None
36,test_data,021-q,red,2,2926,teleop,dropHatch,0,0,0,0,None
37,test_data,021-q,red,2,2926,teleop,duration,3,1,0,0,None
38,test_data,021-q,red,2,2926,teleop,groundCargoPickup,1,1,0,0,None
39,test_data,021-q,red,2,2926,teleop,groundHatchPickup,3,3,0,0,None
40,test_data,021-q,red,2,2926,teleop,pickupLoadingCargo,2,2,0,0,None
41,test_data,021-q,red,2,2926,teleop,rocketCargo1,2,2,0,0,None
42,test_data,021-q,red,2,2926,teleop,rocketCargo3,0,0,0,0,None
43,test_data,021-q,red,3,6503,teleop,csCargo,1,1,0,0,None
44,test_data,021-q,red,3,6503,teleop,dropHatch,1,1,0,0,None
45,test_data,021-q,red,3,6503,teleop,duration,3,2,0,0,None
46,test_data,021-q,red,3,6503,teleop,getFoul,1,1,0,0,None
47,test_data,021-q,red,3,6503,teleop,groundCargoPickup,1,1,0,0,None
48,test_data,021-q,red,3,6503,teleop,pickupLoadingCargo,1,1,0,0,None
49,test_data,021-q,red,3,6503,teleop,pickupLoadingHatch,1,1,0,0,None
50,test_data,021-q,red,3,6503,teleop,rocketCargo1,1,1,0,0,None
51,test_data,021-q,red,3,6503,teleop,rocketCargo2,1,1,0,0,None
52,test_data,021-q,red,3,6503,teleop,rocketHatch1,1,1,0,0,None
53,test_data,021-q,red,3,6503,teleop,rocketHatch3,1,1,0,0,None

In [6]:
df.query("phase=='teleop'")

,name,match,alliance,station,team,phase,task,attempts,successes,cycle_times,capability,option_name
0,test_data,021-q,blue,1,492,teleop,csCargo,2,2,0,0,None
1,test_data,021-q,blue,1,492,teleop,csHatch,2,2,0,0,None
2,test_data,021-q,blue,1,492,teleop,duration,3,1,0,0,None
3,test_data,021-q,blue,1,492,teleop,getFoul,1,1,0,0,None
4,test_data,021-q,blue,1,492,teleop,groundCargoPickup,2,2,0,0,None
5,test_data,021-q,blue,1,492,teleop,groundHatchPickup,3,3,0,0,None
6,test_data,021-q,blue,1,492,teleop,pickupLoadingCargo,5,5,0,0,None
7,test_data,021-q,blue,1,492,teleop,pickupLoadingHatch,3,3,0,0,None
8,test_data,021-q,blue,1,492,teleop,rocketCargo1,3,3,0,0,None
9,test_data,021-q,blue,1,492,teleop,rocketHatch2,2,2,0,0,None
10,test_data,021-q,blue,3,2907,teleop,csCargo,1,1,0,0,None
11,test_data,021-q,blue,3,2907,teleop,csHatch,2,2,0,0,None
12,test_data,021-q,blue,3,2907,teleop,dropCargo,2,2,0,0,None
13,test_data,021-q,blue,3,2907,teleop,dropHatch,1,1,0,0,None
14,test_data,021-q,blue,3,2907,teleop,duration,3,1,0,0,None
15,test_data,021-q,blue,3,2907,teleop,pickupLoadingCargo,3,3,0,0,None
16,test_data,021-q,blue,3,2907,teleop,pickupLoadingHatch,3,3,0,0,None
17,test_data,021-q,blue,3,2907,teleop,rocketCargo1,1,1,0,0,None
18,test_data,021-q,blue,3,2907,teleop,rocketHatch1,1,1,0,0,None
19,test_data,021-q,blue,3,2907,teleop,rocketHatch2,1,1,0,0,None
20,test_data,021-q,blue,3,2907,teleop,rocketHatch3,5,5,0,0,None
21,test_data,021-q,red,1,3393,teleop,csCargo,4,4,0,0,None
22,test_data,021-q,red,1,3393,teleop,csHatch,5,5,0,0,None
23,test_data,021-q,red,1,3393,teleop,duration,3,1,0,0,None
24,test_data,021-q,red,1,3393,teleop,getFoul,1,1,0,0,None
25,test_data,021-q,red,1,3393,teleop,pickupLoadingCargo,3,3,0,0,None
26,test_data,021-q,red,1,3393,teleop,pickupLoadingHatch,5,5,0,0,None
27,test_data,021-q,red,1,3393,teleop,rocketCargo1,2,2,0,0,None
28,test_data,021-q,red,1,3393,teleop,rocketCargo2,1,1,0,0,None
29,test_data,021-q,red,1,3393,teleop,rocketCargo3,1,1,0,0,None
30,test_data,021-q,red,1,3393,teleop,rocketHatch1,2,2,0,0,None
31,test_data,021-q,red,1,3393,teleop,rocketHatch2,1,1,0,0,None
32,test_data,021-q,red,1,3393,teleop,rocketHatch3,1,1,0,0,None
33,test_data,021-q,red,2,2926,teleop,csCargo,4,4,0,0,None
34,test_data,021-q,red,2,2926,teleop,csHatch,2,2,0,0,None
35,test_data,021-q,red,2,2926,teleop,dropCargo,2,2,0,0,None
36,test_data,021-q,red,2,2926,teleop,dropHatch,0,0,0,0,None
37,test_data,021-q,red,2,2926,teleop,duration,3,1,0,0,None
38,test_data,021-q,red,2,2926,teleop,groundCargoPickup,1,1,0,0,None
39,test_data,021-q,red,2,2926,teleop,groundHatchPickup,3,3,0,0,None
40,test_data,021-q,red,2,2926,teleop,pickupLoadingCargo,2,2,0,0,None
41,test_data,021-q,red,2,2926,teleop,rocketCargo1,2,2,0,0,None
42,test_data,021-q,red,2,2926,teleop,rocketCargo3,0,0,0,0,None
43,test_data,021-q,red,3,6503,teleop,csCargo,1,1,0,0,None
44,test_data,021-q,red,3,6503,teleop,dropHatch,1,1,0,0,None
45,test_data,021-q,red,3,6503,teleop,duration,3,2,0,0,None
46,test_data,021-q,red,3,6503,teleop,getFoul,1,1,0,0,None
47,test_data,021-q,red,3,6503,teleop,groundCargoPickup,1,1,0,0,None
48,test_data,021-q,red,3,6503,teleop,pickupLoadingCargo,1,1,0,0,None
49,test_data,021-q,red,3,6503,teleop,pickupLoadingHatch,1,1,0,0,None
50,test_data,021-q,red,3,6503,teleop,rocketCargo1,1,1,0,0,None
51,test_data,021-q,red,3,6503,teleop,rocketCargo2,1,1,0,0,None
52,test_data,021-q,red,3,6503,teleop,rocketHatch1,1,1,0,0,None
53,test_data,021-q,red,3,6503,teleop,rocketHatch3,1,1,0,0,None