In [7]:
import sqlalchemy as sa
import pandas as pd

import server.model.connection as smc

In [8]:
engine = sa.create_engine(smc.create_conn_string(user="postgres", password="irs1318"))
conn = engine.connect()

In [3]:
sql_drop = sa.text("DROP TABLE test_dimension;")
engine.execute(sql_drop)

In [14]:
sql = "select * from information_schema.tables WHERE table_schema = 'public';"
tables = pd.read_sql_query(sql, conn)

In [16]:
tables.shape

(19, 12)