In [2]:
import sqlalchemy
import pandas
import server.model.connection as smc

In [4]:
sql = sqlalchemy.text("SELECT * FROM task_options WHERE task_name='startPosition';")
conn = smc.engine.connect()
tbls = pandas.read_sql(sql, conn)
tbls

     id      task_name        type option_name
0  1352  startPosition  capability        Exch
1  1353  startPosition  capability      Center
2  1367  startPosition  capability      NonEx

In [11]:
tbls.shape

(19, 12)